$alignCenter: center;
$alignStart: flex-start;
$borderBox: border-box;
$boxSizingInherit: inherit;
$colorFondoBlanco: rgb(255, 255, 255);
$colorHover: #2EA8DF;
$cursorPointer: pointer;
$displayFlex: flex;
$displayInline: inline-block;
$espacioEntreLetras: 1px;
$flexColumn: column;
$flexRow: row;
$fondoCover: cover;
$fondeDePantalla: url('../img/FONDO1.png');
$fuente300: 300;
$fuenteColor: #00315D;
$fuenteEstiloNormal: normal;
$fuenteOptical: auto;
$fuenteRealway: "Raleway", sans-serif;
$fuenteTamañoLogo: 0.9rem;
$fuenteBold: bold;
$gap10: 10px;
$height100vh: 100vh;
$height50: 50px;
$height80: 80px;
$justifyCenter: center;
$justifybetween: space-between;
$listStyle: none;
$marig0: 0;
$noDecoration: none;
$noRepetir: no-repeat;
$objetFitCover: cover;
$padding0: 0;
$paddingContainer: 0.5rem;
$paddingHeader: 1rem 2rem;
$paddingLogo: 0.4rem;
$posicionFondo: center;
$posicionFixed: fixed;
$texTransformUpp: uppercase;
$transicion: color .3s;
$width100: 100%;
$height100: 100%;
$width50: 50px;
$z-index1000: 1000;
